<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <html xmlns:th="http://www.thymeleaf.org"/>
    <link rel="icon" href="data:,">
    <title>Title</title>
</head>
<body>
    <span th:text="${message}"/>

    eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhY2Nlc3NfdG9rZW4iLCJleHAiOjE3MzY5MjMyMTUsImF1dGhvcml0aWVzIjpbInBhZ2VfdXNlciJdLCJhZ2VudCI6Ik1vemlsbGEvNS4wIChXaW5kb3dzIE5UIDEwLjA7IFdpbjY0OyB4NjQpIEFwcGxlV2ViS2l0LzUzNy4zNiAoS0hUTUwsIGxpa2UgR2Vja28pIENocm9tZS8xMzEuMC4wLjAgU2FmYXJpLzUzNy4zNiBFZGcvMTMxLjAuMC4wIiwiaXAiOiIwOjA6MDowOjA6MDowOjEiLCJlbWFpbCI6ImxraDgwMzNAZ21haWwuY29tIn0.KnqjVCOk_J7pbLN1T3qWKvQ2a5gskRizsndQOZ9bSf8
</body>
</html>