<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="data:,">
  <title>Register</title>

  <script>
    async function checkEmail() {
      const email = document.querySelector('input[name="email"]').value;

      try {
        const response = await fetch('/Register', {
          method: 'put',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email }),
        });

        const result = await response;
        console.log(result);
      } catch (error) {
        console.error('Error:', error);
      }
    }

    async function register() {
      const email = document.querySelector('input[name="email"]').value;
      const passwd = document.querySelector('input[name="passwd"]').value;
      const key = document.querySelector('input[name="key"]').value;
      const name = document.querySelector('input[name="name"]').value;

      try {
        const response = await fetch('/Register', {
          method: 'post',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email, passwd, key, name }),
        });

        const result = await response;
        console.log(result);
      } catch (error) {
        console.error('Error:', error);
      }
    }
  </script>
</head>
<body>
email : <input type="text" name="email"/> <button onclick="checkEmail()">이메일 확인</button> <br>
passwd : <input type="text" name="passwd"/> <br>
name : <input type="text" name="name"/> <br>
email Key : <input type="text" name="key"/> <br>
<button onclick="register()">회원가입</button>
</body>
</html>